<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
     
    
    <div class="contenido">
       <br><h2>Listados de Categoria</h2>
    <br> 
    <a th:href="@{/categoria/nuevo}">Nueva categoria</a>
    <div th:if="${categorias != null and !categorias.empty}">
    <table border="1">
        <tr>
            <td>Descripcion</td>
            <td>Precio</td>
           
            <td>Modificar</td>
             <td>Eliminar</td>  
            
        </tr>
        <tr th:each="item : ${categorias}">
            <td th:text="${item.descripcion}"></td>
            

<td <input type="checkbox" name="activo" th:checked="${item.activo}" disable="true"></td>
<td th:text="${#numbers.formatDecimal(item.credito.limite,3,2)}"></td>




<td><a th:href="@{/categoria/modificar/} + $(item.idArticulo)">Modificar</a></td>
<td><a th:href="@{/categoria/eliminar/} + $(item.idArticulo)">Eliminar</a></td>       
        </tr>
    </table>
    </div>
    <div th:if="${categorias == null or !categorias.empty}">
        No tenemos categorias para mostrar
    </div>
    
    </div>
    <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
